{% extends 'base.html' %}
{% load static %}
{% load users_extras %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block title %}
    <title>Главная страница</title>
{% endblock title %}

{% block header %}
    {% include "includes/index_header.html" %}
{% endblock header %}

{% block content %}
    <div class="content">
        <div class="body_container">
            <div class="left_block">
                <p class="block_title">Помогите нуждающимся и получите взамен вознаграждение</p>
                <p class="block_description">Начните свой путь волонтерства и помогите нуждающимся- за маленькое вознаграждение</p>
                {% if user|isinstance:"Volunteer" %}
                    <a class="start_button" href="{% url 'orders:show_orders' %}">ПРИНЯТЬ</a>
                {% else %}
                    <a class="start_button" href="{% url 'orders:my_orders' %}">ЗАКАЗАТЬ</a>
                {% endif %}
            </div>
            <div class="right_block">
                <img src="{% static 'img/image_final.png' %}" alt="photo" class="block_image">
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
    </script>
    <script src="script.js"></script>
{% endblock scripts %}
