{% load static %}
{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock css %}

{% block title %}
    <title>Document</title>
{% endblock title %}

{% block header %}
    <header>
        <a class="logo" href="/">InVol</a>
    </header>
{% endblock header %}

{% block content %}
    <img src="{% static 'img/freepik--character-1--inject-24.png' %}" alt="girl" class="first_girl">
    <img src="{% static 'img/freepik--character-4--inject-24.png' %}" alt="girl" class="second_girl">
    <div class="content">
        <div class="first_card card">
            <img src="{% static 'img/card_img.png' %}" alt="banner" class="banner elem">
            <div class="title elem">
                Волонтер
            </div>
            <div class="description elem">
                Оказывайте помощь тем, кто в ней нуждается, благодаря сайту InVol.
            </div>
            <a class="register elem" href="{% url 'users:signup' %}">
                Стать волонтером
            </a>
        </div>
        <div class="second_card card">
            <img src="{% static 'img/card_img.png' %}" alt="banner" class="banner elem">
            <div class="title elem">
                Клиент
            </div>
            <div class="description elem">
                Закажите помощь для себя или для ваших близких, используя сайт InVol.
            </div>
            <a class="register elem" href="{% url 'users:login' %}">
                Для клиентов
            </a>
        </div>
    </div>
{% endblock content %}
