<header id=""myHeader>
    <nav class="navbar">
            <div class="navbar__wrap">
            <div class="hamb">
                <div class="hamb__field" id="hamb">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                </div>
            </div>
            <a href="/" class="logo" id="logo">InVol</a>
            <ul class="menu" id="menu">
                <li><a href="#">ПОДДЕРЖКА</a></li>
                <li><a href="#">ВОПРОСЫ</a></li>
                <li><a href="{% url 'about:about' %}">О НАС</a></li>

                <!-- ПРИ БЭКЕНДЕ ЕСЛИ УЖЕ ВОШЕЛ В АККАУНТ, ТО ВМЕСТО "ЗАКАЗАТЬ" БУДЕТ "ПРОФИЛЬ" -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}">ВЫЙТИ</a></li>
                    <li><a href="{% url 'orders:choice' %}">ЗАКАЗАТЬ</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">ВОЙТИ</a></li>
                    <li><a href="{% url 'users:profile' %}">ПРОФИЛЬ</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
        </nav>
</header>
