{% load static %}
{% load users_extras %}

<header class="header">
    <h1 class="header__logo"><a href="{% url 'homepage:home' %}">InVol</a></h1>
    <div class="header__nav">
        <div class="header__links">
            <a href="{% url 'orders:show_orders' %}" class="header__link header__link_selected">Заказы</a>
            <a href="{% url 'about:about' %}" class="header__link">О нас</a>
            <a href="#" class="header__link">Поддержка</a>
            <a href="#" class="header__link">Фильтр</a>
        </div>
        {% if user|isinstance:"Volunteer" %}
            {% if request.path == '/orders/show_orders' %}
                <a href="{% url 'orders:liked_orders' %}"><img src="{% static 'img/liked.png' %}" class="header__liked" alt=""></a>
            {% elif request.path == '/orders/my_orders' %}
                <a href="{% url 'orders:liked_orders' %}"><img src="{% static 'img/like_activated.png' %}" class="header__liked" alt=""></a>
            {% endif %}
            <a href="{% url 'users:vol_profile' %}"><img src="{% static 'img/user.svg' %}" class="header__user" alt=""></a>
        {% elif user|isinstance:"Client" %}
           <a href="{% url 'users:cli_profile' %}"><img src="{% static 'img/user.svg' %}" class="header__user" alt=""></a>
        {% endif %}
    </div>
</header>