{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block title %}
    <title>Вход</title>
{% endblock title %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                <a class="title" href="/">InVol</a>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% comment %} {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-primary">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}  {% endcomment %}
                <div class="row">
                    {{ form.email }}
                    <span>Эл. почта</span>
                </div>
                <div class="row">
                    {{form.password}}
                    <span>Пароль</span>
                </div> 
                <div class="row">
                    <div class="row_buttons">
                        <button name="login" class="focused_btn" id="login">Войти</button>
                        <a class="unfocused_btn" href="{% url 'users:signup' %}">Регистрация</a>
                    </div>
                </div>
            </form>
        </div>
    </div> 
{% endblock content %}