{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

{% block title %}
    <title>Профиль</title>
{% endblock title %}

{% block content %}
    <main class="container">
        <div class="elem pfp">
            <img src="{% static 'img/pfp.png' %}" alt="" class="pfp__image">
            <div class="pfp__name">{{ user.first_name }}</div>
            <button class="profile__button" type="submit">Изменить</button>
        </div>
        <form class="elem properties" method="POST">
            {% csrf_token %}
            <div class="title">Информация о себе</div>
            {% for field in user_form %}
                <div class="row">
                    <span>{{ field.label }}</span>
                    <input type="text" name="{{ field.name }}" value="{{ field.value|default_if_none:"" }}">
                </div>
            {% endfor %}
            {% for field in profile_form %}
                <div class="row">
                    <span>{{ field.label }}</span>
                    <input type="text" name="{{ field.name }}" value="{{ field.value|default_if_none:"" }}" autocomplete="off">
                </div>
            {% endfor %}
            {{ profile_form.as_p }}
            <button type="submit" class="profile__button">Сохранить</button>
        </form>
        <div class="elem decor">
            <img src="{% static 'img/freepik--Characters--inject-38.png' %}" alt="koten">
        </div>
    </main>
{% endblock content %}

<body>
    <main class="container">
        <div class="elem pfp">
            <img src="images/pfp.png" alt="" class="pfp__image">
            <div class="pfp__name">Марат Хусаинов</div>
            <button class="profile__button" type="submit">Изменить</button>
        </div>
        <div class="elem properties">
            <div class="title">Информация о себе</div>
            <div class="row">
                <span>Имя</span>
                <input type="text">
            </div>
            <div class="row">
                <span>Возраст</span>
                <input type="text">
            </div>
            <div class="row">
                <span>Пол</span>
                <input type="text">
            </div>
            <div class="row">
                <span>Эл. почта</span>
                <input type="text">
            </div>
            <div class="row">
                <span>Регион</span>
                <input type="text">
            </div>
            <div class="row">
                <span>Адрес</span>
                <input type="text">
            </div>
            <div class="row">
                <span>Инвалидность</span>
                <input type="text">
            </div>
            <div class="row">
                <span>О себе</span>
                <input type="text">
            </div>
            <button type="submit" class="profile__button">Сохранить</button>
        </div>
        <div class="elem decor">
            <img src="images/freepik--Characters--inject-38.png" alt="koten">
        </div>
    </main>
</body>
</html>