<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main_page.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/login.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <a class="title" href="/">InVol</a>
            </div>
            <div class="row">
                <input class="input_box" type="text" required="required">
                <span>Имя</span>
            </div>
            <div class="row">
                <input class="input_box" type="text" required="required">
                <span>Эл. почта</span>
            </div>
            <div class="row">
                <input class="input_box" type="tel" required="required">
                <span>Тел. номер</span>
            </div>
            <div class="row">
                <input class="input_box" type="password" required="required">
                <span>Пароль</span>
            </div>
            <div class="row">
                <div class="row_buttons">
                    <button class="focused_btn">Далее</button>
                    <button class="unfocused_btn">Войти</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="whitened">
        <div class="footer-columns">
          <div class="footer-column">
            <h3>© 2020 MayDa</h3>
          </div>
          <div class="footer-column">
            <h3>Contact us</h3>
            <ul>
              <li><a href="#">+7 747 521 95 08</a></li>
              <li><a href="#">dasiktazik@gmail.com</a></li>
              <li><a href="#">erke.toystore</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Сделаем мир добрее</h3>
          </div>
        </div>
    </footer>
</body>
</html>
