{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block title %}
    <title>Регистрация</title>
{% endblock title %}

{% comment %} reset header {% endcomment %}
{% block header %}{% endblock header %}

{% block content %}
    <div class="content">
        <form class="container" method="POST">
            {% csrf_token %}
            <div class="row">
                <a class="title" href="/">InVol</a>
            </div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-primary">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                <div class="row">
                    {{ field }}
                    <span>{{field.label_tag}}</span>
                </div>
            {% endfor %}
            <div class="row">
                <div class="row_buttons">
                    <button type="submit" class="focused_btn">Далее</button>
                    <a class="unfocused_btn" href="{% url 'users:login' %}">Войти</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
