{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block title %}
    <title>Регистрация</title>
{% endblock title %}

{% block content %}
    <div class="content">
        <form class="container" method="POST">
            {% csrf_token %}
            <div class="row">
                <a class="title" href="/">InVol</a>
            </div>
            {% for field in form %}
                <div class="row">
                    {{ field }}
                    <span>{{field.label_tag}}</span>
                </div>
            {% endfor %}
            <div class="row">
                <div class="row_buttons">
                    <button class="focused_btn">Далее</button>
                    <button class="unfocused_btn">Войти</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
