<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/main_header.css">
</head>
<body>
    <header class="header">
        <h1 class="header__logo">InVol</h1>
        <div class="header__nav">
            <div class="header__links">
                <a href="./orders" class="header__link header__link_selected">Заказы</a>
                <a href="./about" class="header__link">О нас</a>
                <a href="./support" class="header__link">Поддержка</a>
            </div>
            <a href="./user"><img src="./images/user.svg" class="header__user" alt=""></a>
        </div>
    </header>

    <main class="main">
        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; margin-top: 40px;">
            <h1 class="main__h1">Ваши заказы</h1>
            <div class="popup">
                <button class="main__button" id="createQuery">Создать Запрос</button>

                <form class="popup__form" id="theform">
                    <h2 class="popup__h2">Заказы</h2>
                    <input type="text" class="theform__input" placeholder="Имя" name="username">
                    <input type="text" class="theform__input" placeholder="Тел номер" name="phone">
                    <input type="text" class="theform__input" placeholder="Регион" name="region">
                    <input type="text" class="theform__input" placeholder="Адрес" name="address">
                    <input type="text" class="theform__input" placeholder="Запрос" name="query">
                    <input type="text" class="theform__input" placeholder="Цена" name="price">
                    <div class="form__bts">
                        <button class="main__button">Добавить фото</button>
                        <button class="del_but"></button>
                    </div>

                    <button type="submit" class="form__order">Заказать</button>
                </form>
            </div>
            
        </div>

        <div class="cards">
            <div class="card">
                <img src="./images/IMAGE (2).png" class="card__img" alt="">
                <div class="card__content">
                    <p class="card__text">Алексей</p>
                    <p class="card__text">47 лет</p>
                    <p class="card__text">Адрес: Тайпак 13</p>
                    <p class="card__text">Группа мобильности: М3</p>
                    <p class="card__text">Запрос: Донести 10кг сумку</p>
                    <p class="card__text">Цена: 500тг</p>

                    <button class="card__button">Изменить</button>

                </div>
            </div>
            <div class="card">
                <img src="./images/IMAGE (2).png" class="card__img" alt="">
                <div class="card__content">
                    <p class="card__text">Алексей</p>
                    <p class="card__text">47 лет</p>
                    <p class="card__text">Адрес: Тайпак 13</p>
                    <p class="card__text">Группа мобильности: М3</p>
                    <p class="card__text">Запрос: Донести 10кг сумку</p>
                    <p class="card__text">Цена: 500тг</p>

                    <button class="card__button">Изменить</button>
                    
                </div>
            </div>
            <div class="card">
                <img src="./images/IMAGE (2).png" class="card__img" alt="">
                <div class="card__content">
                    <p class="card__text">Алексей</p>
                    <p class="card__text">47 лет</p>
                    <p class="card__text">Адрес: Тайпак 13</p>
                    <p class="card__text">Группа мобильности: М3</p>
                    <p class="card__text">Запрос: Донести 10кг сумку</p>
                    <p class="card__text">Цена: 500тг</p>

                    <button class="card__button">Изменить</button>
                    
                </div>
            </div>
            <div class="card">
                <img src="./images/IMAGE (2).png" class="card__img" alt="">
                <div class="card__content">
                    <p class="card__text">Алексей</p>
                    <p class="card__text">47 лет</p>
                    <p class="card__text">Адрес: Тайпак 13</p>
                    <p class="card__text">Группа мобильности: М3</p>
                    <p class="card__text">Запрос: Донести 10кг сумку</p>
                    <p class="card__text">Цена: 500тг</p>

                    <button class="card__button">Изменить</button>
                    
                </div>
            </div>
        </div>
    </main>

    <footer class="whitened">
        <div class="footer-columns">
          <div class="footer-column">
            <h3>© 2020 MayDa</h3>
          </div>
          <div class="footer-column">
            <h3>Contact us</h3>
            <ul>
              <li><a href="#">+7 747 521 95 08</a></li>
              <li><a href="#">dasiktazik@gmail.com</a></li>
              <li><a href="#">erke.toystore</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Сделаем мир добрее</h3>
          </div>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>