{% load static %}
{% load users_extras %}


<div class="cards">
    {% for order in orders %}
        <div class="card">
            <img src="{% static 'img/Image (2).png' %}" class="card__img" alt="">
            <div class="card__content">
                <p class="card__text">{{ order.client.first_name }}</p>
                <p class="card__text">{{ order.client.profile.age }}</p>
                <p class="card__text">{{ order.client.profile.city_display }}</p>
                <p class="card__text">{{ order.client.profile.mobility_display }}</p>
                <p class="card__text">{{ order.inquiry }}</p>
                <p class="card__text">{{ order.price_display }}</p>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    {% if user|isinstance:"Volunteer" %}
                        <button type="submit" class="card__button" name="take_order">Принять заказ</button>
                    {% elif user|isinstance:"Client" %}
                        <button type="submit" class="card__button" name="change_order">Изменить</button>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
</div>