{% extends 'base.html' %}
{% load static %}

{% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock fonts %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block title %}
    <title>Invol</title>
{% endblock title %}

{% block content %}
    <main class="main">
        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; margin-top: 40px;">
            <h1 class="main__h1">Ваши заказы</h1>
            <div class="popup">
                <button class="main__button" id="createQuery">Создать Запрос</button>
                <form class="popup__form" id="theform" method="POST">
                    {% csrf_token %}
                    <h2 class="popup__h2">Заказы</h2>
                    {% for field in order_form %}
                        {{ field }}
                    {% endfor %}
                    <div class="form__bts">
                        <button class="main__button">Добавить фото</button>
                        <button class="del_but"></button>
                    </div>

                    <button type="submit" class="form__order">Заказать</button>
                </form>
            </div>
            
        </div>

        {% include "orders/_orders.html" with orders=client_orders %}
    </main>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}