body {
    position: relative;
    height: 100vh;
}
a {
    text-decoration: none;
    outline-style: none;
    color: black;
}

.logo {
    text-decoration: none;
    color: #1DE08F;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 5vw;
    font-weight: 900;
}

header {
    padding-left: 5vw;
}

.content {
    display: flex;
    margin: auto;
}

.first_girl, .second_girl {
    position: absolute;
}

.first_girl {
    left: 0;
    bottom: 0;
}

.second_girl {
    right: 0;
    bottom: 0;
}

.card {
    border-radius: 10px;
    width: 25vw;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.elem {
    margin-bottom: 40px;
}

.banner {
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 1.7vw;
}

.description {
    padding: 0px 2vw;
    font-size: 1.3vw;
}
.first_card {
    margin-right: 6vw;
}

.register {
    background-color: white;
    padding: 0.8vw 5vw;
    font-weight: 600;
    font-size: 1.2vw;
    box-shadow: 6px 5px;
    border-radius: 5px;
    margin-bottom: 3vh;
    transition-duration: 0.3s;
    border: 1px solid;
}

.register:hover {
    color:#1DE08F;
}
.register:active {
    transform: translateY(7px);

}

@media only screen and (max-width: 1100px) {
    .content {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo {
        font-size: 10vw;
    }

    .first_card {
        margin:0;
        margin-bottom: 20px;
    }
    .first_girl, .second_girl {
        display: none;
    }

    .card {
        width: 70vw;
    }
    .elem {
        margin-bottom: 20px;
    }

    .title {
        font-size: 40px;
    }
    .description {
        font-size: 30px;
    }
    .register {
        padding: 10px 100px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .register {
        padding: 30px 30px;
        font-size: 16px;
    }
}